/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #ffffff;
    width: 1920px;
    height: 1127px;
}

/* ===== HEADER ===== */
.header {
    height: 62px;
    background-color: #c0392b;

}

.header-inner {
    width: 1100px;
    height: 32px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    gap: 32px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* ===== HERO ===== */
.hero {
    padding: 80px 0 100px;
}

.hero-inner {
    width: 1000px;
    margin: 0 auto;
    height: 369px;
    top: 60px;
    left: 460px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 480px;
}

.hero-text h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    vertical-align: middle;
}

.hero-text p {
    font-size: 15px;
    line-height: 100%;
    vertical-align: middle;
    letter-spacing: 0%;
    font-weight: 400;
    
    color: #333333;
}

.hero-image img {
    width: 420px;
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
}

/* ===== MENU ===== */
.menu {
    background-color: #fffaf5;
    padding: 60px 0 80px;
}

.menu-title {
    text-align: center;
    font-size: 20px;
    color: #c0392b;
    margin-bottom: 40px;
    font-weight: 700;
}

.menu-list {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 32px;
}

.menu-card {
    width: 260px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.menu-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.menu-info {
    padding: 16px;
    text-align: center;
}

.menu-info h3 {
    font-size: 15px;
    margin-bottom: 8px;
}

.menu-info span {
    color: #c0392b;
    font-weight: 700;
    font-size: 14px;
}

/* ===== FOOTER ===== */
.footer {
    height: 64px;
    background-color: #2c2c2c;
    color: #ddd;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
}
